@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family:'Clash Display', sans-serif;
        background-color: #F9F5EB
    }
    body {
        color: #1C3879
    }

}

.word-wrapper {
    white-space: nowrap;
  }

  h1 {
    font-size: 4rem;
    font-weight: 500;
  }

  h2 {
    font-size: 2.5rem;
  }

  p, ul, li {
    font-size: 1.125rem;
  }