@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family:'Clash Display', sans-serif;
        background-color: #F9F5EB
    }
    body {
        color: #1C3879
    }

}


@layer components {
  .footer-title {
    @apply text-[#F9F5EB] text-2xl text-center pb-2 capitalize
  }
  .footer-items {
    @apply text-[#F9F5EB] text-xl text-center font-thin 
  }
  .bouton-doctolib {
    @apply sm:w-96 flex flex-row outline outline-2 rounded-2xl hover:shadow-xl hover:bg-[#1C3879] hover:text-[#F9F5EB] hover:outline-[#1C3879] cursor-pointer place-items-center justify-center
  } 
}

/* Typo for desktop version */
@media (min-width: 768px) {
  h1, h2, h3 {
      font-size: 4rem;
    } 
}

  p, ul, li {
    font-size: 1.125rem;
    line-height: 2rem;
  } 


  /* Typo for mobile version */
@media (max-width: 768px) {
  h1, h2, h3 {
      font-size: 40px;
    }
}