@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family:'Clash Display', sans-serif;
        background-color: #F9F5EB
    }
    body {
        color: #1C3879
    }

}
